html {
	/*padding: 30px;*/
	width:100%;
	height:100%;
}

.formdiv{
	display:inline-block;
}

#maincontentheaderrow{
	position:relative;
	z-index: 2;
}

#maincontentrow{
	position:relative;
	z-index: 1;
}

#editmessage{
	position:relative;
	z-index: 2;
}

.message{
	position:fixed;
	width:450px;
	color: white;
	border:1px solid #ebccd1;
	border-radius:25px;
	background:#cc060c;
	right:100px;
	top:100px;
/*	text-align: center;*/
	padding-left:30px;
	padding-right:30px;
	padding-bottom:15px;
	padding-top:10px;
}

div{
	font-family: 'Karla', sans-serif;
}

.formselect{
	width:400px;
}

section#contain {
	margin: 0 auto;
	display: block;
}


h1, 
/*.edit-plant-title > div, */
.name{
	font-family: 'Karla', sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 15px;
	margin-right:10px;
	color:#3F3F3F;
	display:inline-block;
}

h2, 
.edit-plant-subtitle > div {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	display:inline-block;
	/*margin-bottom: 15px;
	padding-top: 20px;*/
}

h3 {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin-top: 24px;
}

p{
	display:inline-block;
	font-family: 'Karla', sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 13px;
}

.mdl-body>form>label,
.mdl-body>form>select{
	text-align: center;
}

#new-attribute-text{
	width:200px;
}

#id_multi,
#id_select{
	width:400px;
}


.bold{ /*Is this used*/
	font-weight:bold;
	font-size: 15px;
}

section#contain a img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.italic {
	font-style: italic;
}

.cardview-scientific-name{
	font-style: italic;
	font-size:14px;
	font-weight:normal;
}

.editplant-scientific-name{
	font-style: italic;
	font-size:24px;
	font-weight:normal;
}



.attribute{
	font-weight:bold;
	font-size:15px;
	margin-bottom:10px;
}

.edit-attribute:hover,
.edit-value:hover{
	cursor:pointer;
}


#plant-images > .cardimg{
	display:inline-block;
	float:left;
}


#img-mdl-content > .cardimg{
	cursor:pointer;
	
}

#getFormButton{
	visibility: hidden;
}

#login{
	text-align:right;
}

.modalimg{
	max-width:250px;
	max-height:200px;
	border-radius:25px;
	margin-left:10px;
	margin-right:10px;
	border: 5px solid #ddd;
}


.cardimg{
	height:125px;
	width:125px;
	border-radius:25px;
	margin-left:10px;
	margin-right:10px;
	border: 2px solid #ddd;
}

.cardimg > img{
	border-radius:25px;
}

.plantname:hover,
#add-new-img:hover,
.name{
	cursor:pointer;

}

#add-new-img2{
	display:table;
	width:100%;
	height:100%;
}

#add-new-img2 > div{
	color:#ddd;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.editplantrow{
	padding-top:20px;
	padding-bottom:20px;
}

.plantcard{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:5px;
	
}

.plantname{
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height:16px;
	padding-top:10px;
	padding-bottom:5px;
}

#sidebar{
	/*background:#2b2b2b;*/
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	box-shadow: 0px 0px 10px #DBDBDB;
}

#sidebar-top{
	background-color:#8A8A8A;
}

#sidebar-top > #nav, #sidebar-bottom > div{
	padding:30px;
}

#nav-title{
	font-weight:bold;
	color:white;
	padding-bottom:30px;
	font-size:40px;
}

.nav-header{
	font-weight:bold;
	font-size:16px;
	letter-spacing:1px;
	color:#BDBDBD;
	padding-bottom:10px;
}

.nav-item{
	color:white;
}

.nav-item:hover{
	text-decoration: none;
	color:#66CD00;
}

#sidebar-top > #nav > ul{
	list-style-type:none;
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 13px;
	padding-left:0px;
	color:white;
	letter-spacing:1px;
	font-weight:bold;
	padding-bottom:8px;
}

/*input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 75%;
    margin-top:25px;
}*/

.loginsubmit{
	border: 0;
    outline: 0;
    background: transparent;
    margin-top:30px;
    font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#66CD00;
	text-align: center;
}

.loginsubmit:hover{
	text-decoration: underline;
}

.formsubmit{
	border: 0;
    outline: 0;
    background: transparent;
    margin-top:30px;
    float:right;

    display:inline-block;
	font-family: 'Karla', sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	visibility:hidden;
	margin-right:20px;
	margin-top: 20px;
	margin-bottom:10px;
	color:#66CD00;
}

.formtxt{
    margin-top:25px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom:5px;
    width:70%;
}

#searchbar{
	width:90%;
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.addImgMdlMsg{
	padding-left:20px;
}

.inputbase input{
	width:100%;
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#id_username,
#id_password,
#id_email,
#id_password1,
#id_password2 {
	width:250px;
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}


.img-mdl-div{
	display:inline-block;
}

.back,
.forward{
	cursor:pointer;
}


.input-label{
	color:#999;
	font-size:11px;
	margin:0px;
	line-height:16px;
	display:block;
}

.green{
	color:#66CD00;
}

#btm-header{
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 13px;
	margin-top: 20px;
	margin-bottom:10px;
	color:#66CD00;
	letter-spacing:1.5px;
}


#add-plant-submit-container > button,
#header-container > #sidebar-clear{
	display:inline-block;
	font-family: 'Karla', sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	visibility:hidden;
	float:right;
	margin-right:20px;
	margin-top: 20px;
	margin-bottom:10px;
	color:gray;

	background:none!important;
	border:none;
	padding:0!important;
	cursor:pointer;
}

.selected{
border-color:#66CD00;
}

#page-header{
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	margin-top:30px;
}

#sidebar-edit-content > #header-container{
	height:200px;
	width:100%;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

#sidebar-edit-content > #header-container > a {
	display:inline-block;
	font-family: 'Karla', sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	margin-right:20px;
	margin-top: 20px;
	margin-bottom:10px;
	color:gray;
}

#search-magnifying-glass{
	cursor:pointer;
}

.add-attribute-container{
	display:inline-block;
	width:100%;

	border-radius:25px;
	border: 2px solid #ddd;
	max-width:350px;

}

.add-attribute-center{
	/*display:table-row;*/
	width:100%;
	color:#ddd;
	text-align:center;
	padding-top:20px;
	padding-bottom: 10px;
}

.undefined-attributes{
	padding-left:20px;
	padding-right:20px;
	padding-bottom:30px;
	/*display:table-row;*/
}

.add-att-btn{
	visibility:hidden;
	cursor:pointer;
}



/* fluidbox CSS */

.fluidbox {
	outline: none;
}
.fluidbox-overlay {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all .25s ease-in-out;
}
.fluidbox-wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	transition: all .25s ease-in-out;
}
.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	transition: all .25s ease-in-out;
}
	.fluidbox-closed .fluidbox-ghost {
		-webkit-transition-property: top, left, opacity, -webkit-transform;
		-moz-transition-property: top, left, opacity, -moz-transform;
		-o-transition-property: top, left, opacity, -o-transform;
		transition-property: top, left, opacity, transform;
		transition-delay: 0, 0, .25s, 0;
	}
	.fluidbox-closed .fluidbox-wrap img {
		transition-property: opacity;
		transition-delay: .25s;
		transition-duration: 0s;
	}

#imagelightbox{
	display:inline-block;
	float:left;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display:inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
	text-decoration: none;
	color:#66CD00;
}

/* Show the dropdown menu on hover 
dont think we need to list */
/*.dropdown:hover .dropdown-content {
    display: block;
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.dropdown-select{
	color:black;
	padding-left:16px;
	padding-right:16px;
	padding-top:12px;
	padding-bottom:4px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width:100%;
    margin-bottom:8px;
}