{% extends 'frontend/sidebar-addplant.html' %}

{% block maincontent %}

{% if plants %}

{% for plant in plants %}
<div class='row plantcard'>
	<div class="col-md-2 col-md-offset-1 col-xs-3 img-container">
		<div id ="add-new-img" class="cardimg" data-plantId="{{plant.id}}" >
			{% if plant.id in images %}
				<img src="{{ images | get_item:plant.id }}" id="add-new-img2" alt="Plant Image" />
				{% else %}
				<div id="add-new-img2"><div>image not available</div></div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-8 col-xs-9">
		<div class='row plantname' data-plantId="{{plant.id}}">
			{% spaceless %}
			<div style="display:inline-block;">{% if plant.common_name %}{{ plant.common_name }}&nbsp;{% endif %}</div>
			<div class='cardview-scientific-name' style="display:inline-block;">
			{% if plant.get_scientific_name%}{{ plant.get_scientific_name }}&nbsp;
			{%else%} No Plant Scientific Name{%endif%}{% endspaceless %}</div>
			</div>
		<div class='row plantdetails'>
			<div class='row'>
				<div class='col-sm-6'>
					
					<p><text>Characteristics: </text>{% spaceless %}
						{% if plant.height.all %}
							<text><i>Height&nbsp;</i>
							{% for height in plant.height.all %}
								<b>{{ height }} </b>
							{% endfor %}
							</text>
						{% endif %}

						{% if plant.layer.all %}
							<text><i>Layer&nbsp;</i>
							{% for layer in plant.layer.all %}
								<b>{{ layer }} </b>
							{% endfor %}
							</text>
						{% endif %}

						{% if plant.ph_min %}
							<text><i>phMin&nbsp;</i><b>{{ plant.ph_min }} </b></text>
						{% endif %}

						{% if plant.ph_max %}
							<text><i>phMax&nbsp;</i><b>{{ plant.ph_max }} </b></text>
						{% endif %}
						{% endspaceless %}
						{% if not plant.height.all or not plant.layer.all or not plant.ph_min or not plant.ph_max %}
						<text>None</text>
						{% endif %}
					</p>
					
				</div>
				<div class='col-sm-6'>
					<p><text>Products: </text>{% spaceless %}
						
						{% if plant.food_prod.all %}
							<text><i>Food&nbsp;</i><b>{{ plant.get_food_prod }} </b></text>
						{% endif %}

						{% if plant.raw_materials_prod.all %}
							<text><i>Raw&nbsp;Materials</i>&nbsp;<b>{{ plant.get_raw_materials_prod }} </b></text>
						{% endif %}

						{% if plant.medicinals_prod.all %}
							<text><i>Medicinals&nbsp;</i><b>{{ plant.get_medicinals_prod }}</b></text>
						{% endif %}

						{% if plant.get_biochemical_material_prod.all %}
							<text><i> Biochemical&nbsp;Matieral&nbsp;</i><b>{{ plant.get_biochemical_material_prod }}</b></text>
						{% endif %}
						{% endspaceless %}
						{% if not plant.food_prod.all or not plant.raw_materials_prod.all or not plant.medicinals_prod.all or not plant.get_biochemical_material_prod.all %}
						<text>None</text>
						{% endif %}
					</p>
					
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					
					<p><text>Needs: </text>{% spaceless %}
						{% if plant.water_needs.all %}
							<text><i>Water&nbsp;</i><b>{{ plant.get_water_needs }} </b></text>
						{% endif %}

						{% if plant.sun_needs.all %}
							<text><i>Sun&nbsp;</i><b>{{ plant.get_sun_needs }} </b></text>
						{% endif %}

						{% if plant.fertility_needs.all %}
							<text><i>Nutrients&nbsp;</i><b>{{ plant.get_fertility_needs }} </b></text>
						{% endif %}

						{% if plant.serotiny %}
							<text><i> Serotiny&nbsp;</i><b>{{ plant.serotiny.value }}</b></text> <!--This foreign key hasn't been checked-->
						{% endif %}

						{% if plant.innoculant %}
							<text><i> Innoculant&nbsp;</i><b>{{ plant.innoculant }}</b></text>
						{% endif %}
						{% endspaceless %}
						{% if not plant.water_needs.all or not plant.sun_needs.all or not plant.fertility_needs.all or not plant.serotiny or plant.innoculant %}
						<text>None</text>
						{% endif %}
					</p>
					
				</div>
				<div class='col-sm-6'>
					
					<p><text>Behaviors: </text>{% spaceless %}
						{% if plant.erosion_control.all %}
							<text><i>Erosion&nbsp;Control&nbsp;</i><b>{{ plant.get_erosion_control }} </b></text>
						{% endif %}

						{% if plant.plants_insect_attractor.all %}
							<text><i>Insect&nbsp;Attractor&nbsp;</i><b>{{ plant.get_plants_insect_attractor }} </b></text>

						{% endif %}

						{% if plant.plants_insect_regulator.all %}
							<text><i> Insect&nbsp;Regulator&nbsp;</i><b>{{ plant.get_plants_insect_regulator }}</b></text>
						{% endif %}

						{% endspaceless %}
						{% if not plant.eroision_control.all or not plant.plants_insect_attractor.all or not plant.plants_insect_regulator.all %}
						<text>None</text>
						{% endif %}
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div> <!-- end plantcard -->
{% endfor %}

<div class='row plantcard'>
	<div class="col-xs-1"></div>
<div class="col-xs-11 pagination">
    <span class="step-links">
        {% if plants.has_previous %}
            <a href="?page={{ plants.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ plants.number }} of {{ plants.paginator.num_pages }}
        </span>

        {% if plants.has_next %}
            <a href="?page={{ plants.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% else %}
	<div class="col-md-11 col-md-offset-1 col-xs-12" style="z-index:-1;">
		<h2>Sorry, we couldn't find anything for you.</h2><br>
		<text id="btm-header">Please try a different search term.</text>
	</div>
{% endif %}



{% endblock %}
{% block script %}
{% load staticfiles %}
<script src="{% static 'frontend/addplant.js' %}" type="text/javascript"></script>
<script src="{% static 'frontend/filter.js' %}" type="text/javascript"></script>
<script type="text/javascript">
	Filter.init();
	AddPlant.init();
	$(".plantname").on("click", function(){
		var plantId = $(this).attr("data-plantId");
		location.href='/edit/' + plantId
	});
	$(".cardimg").on("click", function(){
		var plantId = $(this).attr("data-plantId");
		location.href='/edit/' + plantId
	});



	{% if filter_by %}
		$("#filter_by").html("{{filter_by}}");
	{% else %}
		$("#filter_by").html("None");
	{% endif %}
</script>
{% endblock %}
