{% extends 'frontend/maincontent-hdr.html' %}

{% block filter %}

  <div class="dropbtn">Filter by:</div>&nbsp;<div id="filter_by" class='dropbtn'>None</div>
  <div class="dropdown-content">
<!-- <a href="#" data-category="Name">Name</a> -->
    <a href="#" data-category="Characteristic">Characteristic</a>
    <a href="#" data-category="Product">Product</a>
    <a href="#" data-category="Need">Need</a>
    <a href="#" data-category="Tolerance">Tolerance</a>
    <a href="#" data-category="Behavior">Behavior</a>
  </div>

<form id="filter_form" action="/filter/" method="get">
	<input type="hidden" id="filter_field" name="filter_field" value=""/>
  <input type="hidden" id="filter_field_label" name="filter_field_label" value=""/>
	<input type="hidden" id="filter_field_type" name="filter_field_type" value=""/>
	<input type="hidden" id="filter_value" name="filter_value" value=""/>
</form>
{% endblock %}

{% block sort %}
<!--   <div class="dropbtn">Sort by:&nbsp;<div id="sort_by" style="display:inline-block;">None</div></div>
  <div class="dropdown-content">
    <a href="#">Name A-Z</a>
    <a href="#">Name Z-A</a>
    <a href="#">Recently Added</a>
  </div> -->

<!-- <form id="sort_form" action="#" method="get">Sort by: None</form> -->
{% endblock %}
