{% extends 'frontend/filtersort.html' %}

{% block sidebarbottom %}
<div id="sidebar-bottom-content">
	<div id="header-container">
		<p id="btm-header">Add Plant</p>
		<a href="#" id="sidebar-clear" class="clear">clear</a><br>
	</div>

	<form action="/addPlant/" method="post">
		{% csrf_token %}
		{{ addPlantForm.scientificName }}
		<p class="input-label italic" id="scientific-name-label">{{ addPlantForm.scientificName.label_tag }}</p>
		{{ addPlantForm.commonName }}
		<p class="input-label italic" id="common-name-label">{{ addPlantForm.commonName.label_tag }}</p>

		<div id="add-plant-submit-container">
			<input type="submit" id="add-plant" class="formsubmit" name="add" value="Add This" />
		</div>
	</form>
</div>
{% endblock %}