dj-database-url==0.5.0
Django==2.0.7
django-appconf==1.0.2
django-comments-xtd==2.1.0
django-compressor==2.2
django-contrib-comments==1.8.0
djangorestframework==3.8.2
docutils==0.14
psycopg2==2.7.5
pytz==2018.5
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
whitenoise==3.3.1