{% extends "frontend/maincontent-hdr.html" %}
{% block title %}Login{% endblock %}

{% block maincontent %}
<div class="w-90 center">
    <h1 class="f1 b mv0">Log in</h1>
    <hr>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form id="login-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a class="dropbtn dropbtn--block mb3" href="/register">Register</a>
    <a class="dropbtn dropbtn--block" href="/password_reset">Forgot Password?</a>
</div>
{% endblock %}