{% extends "frontend/maincontent-hdr.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block maincontent %}
    <div class="w-90 center">
        <h1 class="f1 b mv0">Create a New Account</h1>
        <hr>
        <form method="post" action="">{% csrf_token %}
            <table class="mb3" border="0">
                {{ form.as_table }}
            </table>
            <input class="dropbtn dropbtn--block mb3" type="submit" value="Register" />
        </form>
        <a class="dropbtn dropbtn--block" href="/">Log in</a>
    </div>
{% endblock %}