{% extends 'frontend/sidebar-editplant.html' %}

{% block title %}{% spaceless %}

	{% if common_name %}
		{{ common_name }}
	{% else %}
		{% if genus %}
			{{ genus }}&nbsp;
		{% endif %}
		{% if species %}
			{{ species }}&nbsp;
		{% endif %}
		{% if variety %}
			{{ variety }}
		{% endif %}
	{% endif %}
{% endspaceless %}{% endblock %}

{% block maincontent %}

{% if newPlant %}
<div id="hiddenTransactionId" style="visibility:hidden;">{{ transactionId }}</div>
<div class="row editplantrow">
	<div class="col-sm-1"></div> 
	<div class="col-sm-8">You are adding a plant to the database. Please allow 24 hours for your change to be reflected.</div>
	<div class="col-sm-3"></div>
</div>

{% endif %}

{% if result %}
	<div id="hiddenTransactionId" style="display:none;">{{ transactionId }}</div> <!--do we really need these - should be object vars -->
	<div id="hiddenPlantId" style="display:none;">{{plantId}}</div>
	<div class="row editplantrow" id="edit-msg">
		<div class="col-sm-1"></div>
		<div class="col-sm-8">Thanks for your contribution! Changes will be reflected on this page, but please allow 24 hours for your changes to be reflected across the site.</div>
		<div class="col-sm-3"> </div>
	</div>




	<div class="row editplantrow">
		<!-- TESTING MESSAGE- -->
		<div id="object" class="message">
	  	<strong>Thanks for your contribution!</strong>
	  	<p>Changes will be reflected on this page, but please allow 24 hours for your changes to be reflected across the site.</p>
		</div>
		<!-- TESTING MESSAGE- -->


		<div class="col-sm-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div class="col-sm-11">
			<div class="edit-plant-title">{% spaceless %}
				<div class="name" id="genus">
					{% if genus %}
						{{ genus }}
					{% endif %}
				</div>
				<div class="name" id="species">
					{% if species %}
						{{ species }}
					{% endif %}
				</div>
				<div class="name" id="variety">
					{% if variety %}
						{{ variety }}
					{% endif %}
				</div>
				<text id="clicktoedit" style="display:none;">click to edit</text>
			</div>
			
			{% if common_name %}
				<div class="edit-plant-title italic">
					<div class="name" id="commonName">
						{{ common_name }}
					</div>
				</div>
			{% else %}
				<div class="edit-plant-title italic" style="display:none;">
					<div class="name" id="commonName"></div>
				</div> 
			{% endif %}
			

			{% if family %}
				<div class="edit-plant-subtitle name" id="family">{{ family }}
					<!-- <div class="name" id="family">{{ family }}</div> -->
				</div>
			{% else %}
				<div class="edit-plant-subtitle name" id="family" style="display:none;">
					<!-- <div class="name" id="family"></div> -->
				</div> 
			{% endif %}
			

			{% if family_common_name %}
				<div class="edit-plant-subtitle name italic" id="familyCommonName">
					<!-- <div class="name" id="familyCommonName">{{ family_common_name }}</div> -->
				</div>
			{% else %}
				<div class="edit-plant-subtitle name italic" id="familyCommonName" style="display:none;">
					<!-- <div class="name" id="familyCommonName"></div> -->
				</div> 
			{% endif %}

			{% if endemic_status %}
				{% if endemic_status != 0 %}
				<div class="name" id="endemicStatusWrapper">Endemic Status: <p id="endemicStatus">{{ endemic_status }}</p></div>
				{% endif %}

			{% else %}
				<div class="name" id="endemicStatusWrapper" style="display:none;">Endemic Status: <p id="endemicStatus"></p></div>

			{% endif %}
			
			{% endspaceless %}
			
			<!-- <div style="display:none;" id="endemicStatusWrapper">Endemic Status: <p id="endemicStatus">{% if endemic_status %}{% if endemic_status != 0 %}{{ endemic_status }}{% endif %}{% endif %}</p></div> -->
		</div>
	</div>


	<div class="row editplantrow">
		<div class="col-sm-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div id="plant-images" class="col-sm-11">
			<div id="populated-images">
				{% for img in images %}
				<a href="{{ img.value }}"><img src="{{ img.value }}" class='cardimg' id="imagelightbox" alt="Plant Image" /></a>
				{% endfor %}
			</div>
			{% if images|length < 5 %}
			<div id ="add-new-img" src="" class="cardimg"/><div id="add-new-img2"><div>+ add new</div></div></div>
			{% endif %}
		</div>
		
	</div> <!-- end row editplantrow -->
	
	<div class="row editplantrow">
		<div class="col-sm-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div class="col-sm-5" id="characteristics-block">
			<div class="row italic attribute"><span class="glyphicon glyphicon-plus add-att-btn" id="characteristics" aria-hidden="true"></span>Characteristics</div>
			{% for f in result.Characteristics %}
			 
			{% if f.value %}
			<div class="row">
				<div class="col-xs-4 italic edit-attribute" id="{{f.name}}" data-fieldType="{{f.field_type}}" data-className="{{ f.class_name }}" data-isNewAttribute="0">{{ f.label }}</div>
					<div class="col-xs-8 bold">{{ f.value }}</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-6" id="needs-block">
			<div class="row italic attribute"><span class="glyphicon glyphicon-plus add-att-btn" aria-hidden="true"></span>Needs</div>
			{% for f in result.Needs %}
			{% if f.value %}
			<div class="row">
				<div class="col-xs-4 italic edit-attribute" id="{{f.name}}" data-fieldType="{{f.field_type}}" data-className="{{ f.class_name }}" data-isNewAttribute="0">{{ f.label }}</div>
					<div class="col-xs-8 bold">{{ f.value }}</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row editplantrow">
		<div class="col-sm-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div class="col-sm-5" id="tolerances-block">
			<div class="row italic attribute"><span class="glyphicon glyphicon-plus add-att-btn" aria-hidden="true"></span>Tolerances</div>
			{% for f in result.Tolerances %}
			{% if f.value %}
			<div class="row">
				<div class="col-xs-4 italic edit-attribute" id="{{f.name}}" data-fieldType="{{f.field_type}}" data-className="{{ f.class_name }}" data-isNewAttribute="0">{{ f.label }}</div> 
					<div class="col-xs-8 bold">{{ f.value }}</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-6" id="behaviors-block">
			<div class="row italic attribute"><span class="glyphicon glyphicon-plus add-att-btn" aria-hidden="true"></span>Behaviors</div>
			{% for f in result.Behaviors %}
			{% if f.value %}
			<div class="row">
				<div class="col-xs-4 italic edit-attribute" id="{{f.name}}" data-fieldType="{{f.field_type}}" data-className="{{ f.class_name }}" data-isNewAttribute="0">{{ f.label }}</div> 
				<div class="col-xs-8 bold">{{ f.value }}</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row editplantrow">
		<div class="col-sm-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div class="col-sm-5" id="products-block">
			<div class="row italic attribute"><span class="glyphicon glyphicon-plus add-att-btn" aria-hidden="true"></span>Products</div>
			{% for f in result.Products %}
			{% if f.value %}
			<div class="row">
				<div class="col-xs-4 italic edit-attribute" id="{{f.name}}" data-fieldType="{{f.field_type}}" data-className="{{ f.class_name }}" data-isNewAttribute="0">{{ f.label }}</div> 
				<div class="col-xs-8 bold">{{ f.value }}</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-6"></div>
	</div>

	<!--################### ADDING NEW ATTRIBUTES ########################### -->

	<div class="row editplantrow">
		<div class="col-md-1"></div> <!--EMPTY DIV OR OFFSET? -->
		<div class="col-md-2">
			<div class="add-attribute-container"><div class="add-attribute-center">+ add new characteristic</div>
			<div class="undefined-attributes" data-block="characteristics-block"> <!--Do we need this data-blocl -->
				{% for f in result.Characteristics %}
				{% if "ph" in f.label %}
				found ph
				{% endif %}
				{% if not f.value %}
				<div class="row">
					<div class="col-xs-10 italic edit-attribute" 
						id="{{f.name}}" 
						data-fieldType="{{f.field_type}}" 
						data-className="{{ f.class_name }}"
						data-block="characteristics-block"
						data-isNewAttribute="1">{{ f.label }}
					</div> 
					<div class="col-xs-2 bold" style="visibility:hidden;">undefined</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="add-attribute-container"><div class="add-attribute-center">+ add new need</div>
			<div class="undefined-attributes">
				{% for f in result.Needs %}
				{% if not f.value %}
				<div class="row">
					<div class="col-xs-10 italic edit-attribute" 
					id="{{f.name}}" 
					data-fieldType="{{f.field_type}}" 
					data-className="{{ f.class_name }}"
					data-block="needs-block"
					data-isNewAttribute="1">{{ f.label }}</div> 
					<div class="col-xs-2 bold" style="visibility:hidden;">undefined</div>
				</div>
				{% endif %} 
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="add-attribute-container"><div class="add-attribute-center">+ add new tolerance</div>
			<div class="undefined-attributes">
				{% for f in result.Tolerances %}
				{% if not f.value %}
				<div class="row">
					<div class="col-xs-10 italic edit-attribute" 
					id="{{f.name}}" 
					data-fieldType="{{f.field_type}}" 
					data-className="{{ f.class_name }}" 
					data-block="tolerances-block"
					data-isNewAttribute="1">{{ f.label }}</div> 
					<div class="col-xs-2 bold" style="visibility:hidden;">undefined</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="add-attribute-container"><div class="add-attribute-center">+ add new behavior</div>
			<div class="undefined-attributes">
				{% for f in result.Behaviors %}
				{% if not f.value %}
				<div class="row">
					<div class="col-xs-10 italic edit-attribute" 
					id="{{f.name}}" 
					data-fieldType="{{f.field_type}}" 
					data-className="{{ f.class_name }}" 
					data-block="behaviors-block"
					data-isNewAttribute="1">{{ f.label }}</div> 
					<div class="col-xs-2 bold" style="visibility:hidden;">undefined</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="add-attribute-container"><div class="add-attribute-center">+ add new product</div>
			<div class="undefined-attributes">
				{% for f in result.Products %}
				{% if not f.value %}
				<div class="row">
					<div class="col-xs-10 italic edit-attribute" 
					id="{{f.name}}" 
					data-fieldType="{{f.field_type}}" 
					data-className="{{ f.class_name }}" 
					data-block="products-block"
					data-isNewAttribute="1">{{ f.label }}</div> 
					<div class="col-xs-2 bold" style="visibility:hidden;">undefined</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>

	</div>
	
{% else %}
	<p>No plant</p> <!--fancy this up a bit-->
{% endif %}

{% endblock %}

{% block script %}

{% load staticfiles %}
<script src="{% static 'frontend/editplant.js' %}" type="text/javascript"></script>
<script src="{% static 'frontend/image.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	$("#edit-msg").hide();
	var common_name, genus, species, variety;
	common_name = "{{ common_name }}";
	genus = "{{ genus }}";
	species = "{{ species }}";
	variety = "{{ variety }}";
	{% if userId %}
		EditPlant.init(common_name, genus, species, variety, {{ transactionId }}, {{ userId }});
	{% else %}
		EditPlant.init(common_name, genus, species, variety, {{ transactionId }}, -1);
	{% endif %} 
	//EditPlant.init(common_name, genus, species, variety, {{ transactionId }}, id); //pass transactionId as 0?



	$(function () {
        $('#plant-images a').fluidbox();
    })
</script>





{% endblock %}