{% extends 'frontend/maincontent-hdr.html' %}

{% block sidebarbottom %}
<div id="sidebar-bottom-content">
	<div id="header-container">
		<p id="btm-header">Add Plant</p>
		<a href="#" id="sidebar-clear" class="clear">clear</a><br>
	</div>

	<form action="" method="post">
		{% csrf_token %}
		{% for field in addPlantForm %}
		{{ field }}
		<p class="input-label italic">{{ field.label_tag }}</p>
		{% endfor %}
		<div id="add-plant-submit-container">
			<input type="submit" id="add-plant" class="formsubmit" name="add" value="Add This" />
		</div>
	</form>
</div>
{% endblock %}