{% extends 'frontend/base.html' %}

{% block maincontentheader %}
	<div class="col-md-12" style="height:125px;width:100%;background-color:yellow;"></div>
{% endblock %}

{% block sidebartop %}
<div id="nav">
	<h2 id="nav-title">PDB.</h2> 
	<p class="nav-header">BROWSE</p>
	<ul>
		<li>Everything</li>
		<li>New stuff</li>
	</ul>
	<p class="nav-header">DOCS</p>
	<ul>
		<li>Database Structure</li>
		<li>Basic Plant Theory</li>
	</ul>
</div>
{% endblock %}


{% block sidebarbottom %}
<script>
function submitAddPlant(){
	window.location = "/home/edit/" + document.getElementById("add-plant-latin-name").value
		+ "/" + document.getElementById("add-plant-common-name").value;
}
</script>

<div id="sidebar-bottom-content">
	<div id="header-container">
		<p id="btm-header">Add Plant</p>
		<a href="#" id="sidebar-clear" class="clear">clear</a><br>
	</div>
	<!--<p class="header">Add Plant</p><br>-->
	<input type="text" id="add-plant-latin-name"></input><br>
	<p id="latin-name-label" class="input-label italic">latin name</p><br>
	<input type="text" id="add-plant-common-name"></input><br>
	<p id="common-name-label" class="input-label italic">common name</p><br>
	<br>
	<div id="thumbnail-container"></div>
	<div id="add-plant-submit-container">
		<button id="add-plant" onclick="submitAddPlant();">Add This</button>
	</div>
</div>
{% endblock %}