{% extends 'frontend/index.html' %}

{% block sidebartop %}
<div id="nav">
	<h2 id="nav-title">PDB.</h2>
	<p class="nav-header">BROWSE</p>
	<ul>
		<li>Everything</li>
		<li>New stuff</li>
		<li>Endangered</li>
		<li>Curated by the NSF</li>
	</ul>
	<p class="nav-header">DOCS</p>
	<ul>
		<li>Database Structure</li>
		<li>Basic Plant Theory</li>
	</ul>
</div>
{% endblock %}


{% block sidebarbottom %}
<div>
	<p class="header" id="btm-header">Resume Plantiferous...</p><br>
	<p class="header">Add Plant</p><br>
	<input type="text"></input><br>
	<p class="input-label italic">latin name</p><br>
	<input type="text"></input><br>
	<p class="input-label italic">common name</p><br>
</div>
{% endblock %}