{% extends 'frontend/maincontent-hdr.html' %}



{% block sidebartop %}
<div id="nav">
	<h2 id="nav-title">PDB.</h2> 
	<p class="nav-header">BROWSE</p>
	<ul>
		<li>Everything</li>
		<li>New stuff</li>
	</ul>
	<p class="nav-header">DOCS</p>
	<ul>
		<li>Database Structure</li>
		<li>Basic Plant Theory</li>
	</ul>
</div>
{% endblock %}


{% block sidebarbottom %}
<div id="sidebar-bottom-content">
	<div id="header-container">
		<p id="btm-header">Add Plant</p>
		<a href="#" id="sidebar-clear" class="clear">clear</a><br>
	</div>

	<form action="" method="post">
		{% csrf_token %}
		{% for field in form %}
		{{ field }}
		<p class="input-label italic">{{ field.label_tag }}</p>
		{% endfor %}
		<div id="add-plant-submit-container">
			<input type="submit" id="add-plant" class="formsubmit" value="Add This" />
		</div>
	</form>

	<!--<p class="header">Add Plant</p><br>-->
	<!--<input type="text"  class="formtxt" id="add-plant-latin-name"></input><br>
	<p id="latin-name-label" class="input-label italic">latin name</p><br>
	<input type="text" class="formtxt" id="add-plant-common-name"></input><br>
	<p id="common-name-label" class="input-label italic">common name</p><br>
	<br>
	<div id="thumbnail-container"></div>
	<div id="add-plant-submit-container">
		<button id="add-plant" onclick="submitAddPlant();">Add This</button>
	</div>-->
</div>
{% endblock %}