{% extends "frontend/maincontent-hdr.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}Change Password{% endblock %}
{% block maincontent %}
    <div class="w-90 center">
        <h1 class="f1 b mv0">Change Password</h1>
        <hr>
        <form method="post" action="">{% csrf_token %}
        <table class="mb3" border="0">
                {{ form.as_table }}
            </table>
            <input class="dropbtn dropbtn--block mb3" type="submit" value="Submit" />
        </form>
        <a class="dropbtn dropbtn--block" href="/edit_profile">Go Back</a>
    </div>
{% endblock %}