{% extends "frontend/maincontent-hdr.html" %}
{% block title %}User Profile: {{get_user_name}}{% endblock %}
{% block head %}
 User Profile
{% endblock %}
{% block maincontent %}
 
 <div class="row username">
	<div class="col-sm-11 col-sm-offset-1">
	    {% if userName %}
            <p>User Name: {{ userName }}</p>
            {% if firstName %}<div>First Name: {{ firstName }}</div>{% endif %}
            {% if lastName %}<div>Last Name: {{ lastName }}</div>{% endif %}
            {% if email %}<div>Email: {{ email }}</div>{% endif %}
            {% if affiliation %}<div>Affiliation: {{ affiliation }}</div>{% endif %}
            {% if experience %}<div>Experience: {{ experience }}</div>{% endif %}
            {% if interests %}<div>Interests: {{ interests }}</div>{% endif %}

            <p></p>
                <table>
                    <tr>
                        <th>Plant Scientific Name</th>
                        <th>Type</th>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
        
                    {% for a in activity %}
                        <tr>
                            <td>{{a.plant_name}}</td>
                            <td>{{a.type}}</td>
                            <td>{{a.property}}</td>
                            <td>{{a.value}}</td>
                        </tr>
                    {% endfor %}
                </table>

	    {% else %}
            <p>No User Profile</p>
        {% endif %}
        <a href="/edit_profile">Edit Profile</a>
	</div>
</div>
{% endblock %}