{% extends "frontend/maincontent-hdr.html" %}
{% block title %}User Profile: {{get_user_name}}{% endblock %}
{% block head %}
 User Profile
{% endblock %}
{% block maincontent %}
 
 <div class="username w-90 center">
        {% if userName %}
            <h1 class="f1 b mt0">Account Details</h1>
            <hr>
            <div class="f2 mb2"><strong>Username: </strong>{{ userName }}</div>
            {% if firstName %}
            <div class="f2 mb2"><strong>First Name: </strong>{{ firstName }}</div>
            {% endif %}
            {% if lastName %}
            <div class="f2 mb2"><strong>Last Name: </strong>{{ lastName }}</div>
            {% endif %}
            {% if email %}
            <div class="f2 mb2"><strong>Email: </strong>{{ email }}</div>
            {% endif %}
            {% if affiliation %}
            <div class="f2 mb2"><strong>Affiliation: </strong>{{ affiliation }}</div>
            {% endif %}
            {% if experience %}
            <div class="f2 mb2"><strong>Experience: </strong>{{ experience }}</div>
            {% endif %}
            {% if interests %}
            <div class="f2 mb4"><strong>Interests: </strong>{{ interests }}</div>
            {% endif %}
            <h2 class="f1 b">Account Activity</h2>
            <hr>
                <table class="mb4">
                    <tr>
                        <th>Plant Scientific Name</th>
                        <th>Type</th>
                        <th>Property</th>
                        <th>Value</th>
                        <th>Reference</th>
                    </tr>
        
                    {% for a in activity %}
                        <tr>
                            <td>{{a.plant_name}}</td>
                            <td>{{a.type}}</td>
                            <td>{{a.property}}</td>
                            <td>{{a.value}}</td>
                            <td>{{a.reference}}</td>
                        </tr>
                    {% endfor %}
                </table>

	    {% else %}
            <p>No User Profile</p>
        {% endif %}
        <a class="dropbtn dropbtn--block" href="/edit_profile">Edit Profile</a>
</div>
{% endblock %}