{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sustainable Polyculture Composer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'composer/bootstrap.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'composer/style.css' %}" />

    <script src="{% static 'composer/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'composer/script.js' %}" charset="utf-8"></script>
    {% block extrastaticfiles %}{% endblock %}
</head>
<body>

	<div class="container-fluid">

    <div id="pagetitlerow" class="row">
			<div id="project-title" class="col-xs-12">Sustainable Polyculture Composer</div>
    </div>

		<div class="row">
      <div id="maincontentheader" class="col-xs-12">
        {% block maincontentheader %}{% endblock %}
      </div>
    </div>

    <div id="maincontentbody" class="row">
      <div class="col-xs-12">
        {% block maincontent %}
        {% endblock %}
      </div>
    </div>

	</div>

</body>
</html>
