{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sustainable Polyculture Composer</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div id="content" class="col-xs-12">
				<div id="pagetitlerow" class="row">
					<h1>Sustainable Polyculture Composer</h1>
				</div>
				<div id="maincontentheaderrow" class="row">
				{% block maincontentheader %}
				{% endblock %}
				</div>
				<div id="maincontentrow" class="row">
				{% block maincontent %}
				{% endblock %}
				</div>
			</div>
		</div>
	</div>

</body>
</html>