{% extends 'composer/base.html' %}

{% block maincontentheader %}
  <button class="btn btn-default pull-right">Save and Logout</button>
  <h1>
    What goals do you have <br> for your polyculture?
  </h1>
{% endblock %}

{% block maincontent %}
<!-- This commented out form is created in UserInsert view and Human_Needs forms.py. We have decided to HTML hard code the form instead to avoid messing with brittle python code and more easily style and format. To bring back this form, the commented out button below must be used as well. - Daniel 11/16/16  -->
<!-- <form method = "POST" >
  {{ form.as_p }}
  {% csrf_token %}
</form> -->

  <div class="row">
    <div class="col-xs-3 text-center">
      <h3>
        Products
      </h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>
        Services
      </h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>
        Wildlife
      </h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>
        Ecosystem Services
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <form id="products-form" action="">
        {% csrf_token %}
        <div class="checkbox">
          <label><input type="checkbox" name="food">Food</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="herb">Herb</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="medicine">Medicine</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="construction materials">Timber / Construction Materials</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="raw producst">Raw products for household use</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="flowers">Flowers</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="fragrance">Fragrance</label>
        </div>
      </form>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
      <form id="services-form" action="">
        {% csrf_token %}
        <div class="checkbox">
          <label><input type="checkbox" name="religious">Religious, Spiritual, and Cultural amenity</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="recreation">Recreation</label>
        </div>
      </form>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
      <form id="wildlife-form" action="">
        {% csrf_token %}
        <div class="checkbox">
          <label><input type="checkbox" name="birds">Birds</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="butterfly">Butterfly</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="wildlife habitat">Wildlife habitat</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="deter animals">Deter plant-eating animals</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="deter pests">Deter plant-eating pests</label>
        </div>
      </form>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
      <form id="ecosystem-form" action="">
        {% csrf_token %}
        <div class="checkbox">
          <label><input type="checkbox" name="erosion">Erosion</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="bioremiation">Bioremediation</label>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <br>
      <br>
      <a class="btn btn-default pull-left" href="/composer/">Choose different location</a>
      <!-- Uncomment button below to post form choices to database -->
      <!-- <input class="btn btn-primary pull-right" type="submit" id = "submitButton" value="I've chosen my goals" /> -->
      <a id="to-goalchart-button" class="btn btn-primary pull-right" href="/composer/goalchart">I've chosen my goals</a>
    </div>
  </div>
{% endblock %}
