{% extends 'composer/base.html' %}
{% load staticfiles %}

{% block extrastaticfiles %}
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'composer/goalchart.css' %}">

	<!-- JS -->
	<!-- <script src="{% static 'composer/jquery.min.js' %}" charset="utf-8"></script> -->
	<script src="{% static 'composer/bootstrap.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'composer/d3.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'composer/goalchart.js' %}" charset="utf-8"></script>
{% endblock %}

{% block maincontentheader %}
	<button class="btn btn-default pull-right">Save and Logout</button>
	<h1>Expected polyculture<br>production breakdown</h1>
{% endblock %}

{% block maincontent %}
<div class="row">

	<div class="col-xs-4 col-xs-offset-2">

		<div class="controls">
			<form id="nbForm">
				<ul id="menu">
					<li>
						<button id="nbFormSubmit" type="button" class="btn btn-success">Reset Segments</button>
					</li>
				</ul>
			</form>

			<table id="rangebox">
				<tbody>
					<h5 class="HideOnLoad">Click boxes to edit labels</h5>
				</tbody>
			</table>
		</div>

	</div>

	<div class="col-xs-6" id="pie">
		<!-- <div class id="pie"></div> -->
	</div>

</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<a class="btn btn-default pull-left" href="/composer/">Choose different goals</a>
		<a class="btn btn-primary pull-right" href="/composer/timeandmoney">Looks good!</a>
	</div>
</div>

{% endblock %}
