#pie {
  margin-top: -5em;
}

.controls{
  margin-top: 4em;
  margin-left: 10em;
}

ul#menu {
  padding: 0;
}

ul#menu li {
  display: inline;
  padding: 3px 3px;
}

td.edit {
  padding: 10px;
  border: thick white solid;
}

input.range {
  width: 250px;
}

.range-slider input.input-range {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}
.range-slider input.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider input.input-range::-webkit-slider-thumb:hover {
  background: #e06161;
}
.range-slider input.input-range:active::-webkit-slider-thumb {
  background: #e06161;
}
.range-slider input.input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider input.input-range::-moz-range-thumb:hover {
  background: #e06161;
}
.range-slider input.input-range:active::-moz-range-thumb {
  background: #e06161;
}
.range-slider .range-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #353535;
  padding: 5px 10px;
  margin-left: 7px;
  float: right;
  margin-right: 32px;
  margin-top: -20px;
}
.range-slider .range-value:after {
  position: absolute;
  top: 8px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #353535;
  border-bottom: 7px solid transparent;
  content: '';
}

path.slice {
  opacity: .7;
}

.edit {
  opacity: .7;
  text-align: center;
  background-size: cover;
  color: white;
}

text.label {
  opacity: .5;
  font-size: 1.5em;
  color: black;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(255, 255, 255, 0.3);
}

polyline {
  opacity: .15;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.HideOnLoad {
  opacity: 0;
}
