#pagetitlerow{
	background-color:#809ca0;
}

#project-title{
	/*font-weight:bold;*/
	color:white;
	letter-spacing:2px;
	font-size:16px;
	text-align: left;
	padding-left: 20px;
	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:10px;
}

#step-title{
	font-weight:bold;
	font-size:16px;
	letter-spacing:2px;
	color:black;
	text-align: left;
	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:10px;
}

#maincontentcontainer{
	padding-left: 40px;
}