{% extends 'frontend/base.html' %} {% block maincontent %}

<div class="about">
  <h1>SAgE - Software for Agricultural Ecosystems</h1>

  <p>
    SAGE (Software for Agricultural Ecosystems) is a collection of software applications that supports the public pursuit of 
    sustainable agriculture, in cooperation with the Southern California sustainable agriculture community.
  </p>

  <p>
    The SAGE Plant Database is a database of plants used for grassroots or amateur agroecology design, including ethnobotanical, 
    cultivation, morphological, and phenological data.
  </p>

  <p>
    The SAGE Composer is be a design tool for creating sustainable polycultures (i.e., assemblages of complementary and mutually 
    beneficial plant species, typically composed primarily of perennials) for personal use.
  </p>
  
  <p></p>

  <p>This research is funded by the NSF under
        <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1442749">Grant #1442749 CyberSEES: Type 1: Fostering Non-Expert Creation of Sustainable Polycultures through Crowdsourced Data
          Synthesis.</a>
      </p>
  <p>

    This is the dissertation project of Juliet Norton. It is a collaborative effort between Juliet Norton and Bill Tomlinson
    at the University of California, Irvine, Don Patterson at Westmont College, and Sarah Lovell at the University of Illinois
    Urbana-Champagne.
  </p>
    
  <p>
    For questions and details, contact Juliet at <a href = "perennialpolycultures@ics.uci.edu"> perennialpolycultures@ics.uci.edu </a>
  </p>

  <p>
    Supervising Team for SAGE:
  </p>

  <p>
    <ul style = "list-style-type: circle">
      <li>Juliet Norton - Project Manager, Front-end and Back-end developmer</li>
      <li>Bill Tomlinson - Project Advisor, NSF CyberSEES PI</li>
      <li>Don Patterson - NSF CyberSEES PI</li>
      <li>Sarah Taylor Lovell - NSF CyberSEES PI</li>
    </ul>
  </p>

  <p>
    Research and Development Team for SAGE Plant Database:
  </p>

  <p>
    <ul style = "list-style-type: circle">
      <li>Moin Aminnaseri - Back-end developer</li>
      <li>Dinorah Carrion - Back-end developer</li>
      <li>Daniel McInnis - Front-end developer</li>
      <li>Sahand Nayabaziz - Front-end designer</li>
      <li>Marcel Pufal - Development consultant</li>
      <li>Krisen Segismundo - Front-end developer</li>
    </ul>
  </p> 
  
  <p>
    Research and Development Team for SAGE Composer:
  </p>

  <p>
    <ul style = "list-style-type: circle">
      <li>Sean Burke - Front-end developer</li>
      <li>Daniel McInnis - Research assistant</li>
      <li>Sahand Nayabaziz - Front-end designer</li>
      <li>Boyang Jack Pan - Content developer</li>
      <li>Anna Slykhouse - Content developer</li>
    </ul>
  </p>

</div>

{% endblock %}