{% extends 'frontend/base.html' %} {% block maincontentheader %}
<div class="sage-navbar">
	<div id="filter" class="dropdown">
		{% block filter %}{% endblock %}
	</div>

	<div class="sage-navbar--divider">
		<div id="login">{% spaceless %} {% if request.user.is_authenticated %} Welcome, {{ request.user.username }}!
			<a href="/logout">Log out</a> |
			<a href="/view_profile">View Profile</a>
			{% else %}
			<a href="/login">Log in</a>
			{% endif %} {% endspaceless %}
		</div>

		<form id="searchform" action="/search/" method="post">
			{% csrf_token %}
			<input type="text" id="searchbar" name="searchVal" value=""></input>
			</select>
			<span id="search-magnifying-glass" class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</form>
	</div>
</div>
{% endblock %}