/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset, begin sahand's code */

#tophalf {
	height: 400px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	background: url(../img/trees.jpg) center -310px;
}

h1 {
	color: #ffffff;
	bottom: 50px;
	position: absolute;
	text-align: center;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	font: 80px MillerBanner;
	line-height: 75px;
	font-weight: 500;
	height: auto;
	left: auto;
	letter-spacing: -3px;
}

/* bottom half */

#bottomhalf {
	height: 600px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	font: 20px "FranklinGothic URW Cond";
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 75px;
	text-align: center;
	top: 30px;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 60px;
	border: 1px solid #111111;
	height: 54px;
	width: 171px;
	margin: 0 auto;	
	text-align: center;
	color: black;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
}

h2:hover {
	color: white;
	background-color: black;
}

h2:focus {
	color: black;
	background-color: white;
}

h3 {
	color: rgb(34, 34, 34);
	font: 16px FranklinGothicURWConMed;
	letter-spacing: 1px;
	line-height: 75px;
	text-transform: uppercase;
	margin: 0 auto;
	width: 211px;
	margin-bottom: -30px;
	margin-top: 30px;
	
}

#locationinput {
	border-style: none;
	margin: 0 auto;
	background-color: rgba(233, 233, 233, 0.11);
	height: 100px;
	width: 800px;
	margin-bottom: 90px;
	margin-top: 30px;
	font-family: MillerBanner;
	font-size: 42px;
}

#locationinput:focus {
	outline: none;
}

 /* begin inside pages */
 
#topbar {
		height: 100px;
		width: 100%;
		position: relative;
		margin: 0 auto;
		background: url(../trees.jpg) center -710px;
}

h4 {
	width: 600px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	font: 40px MillerBanner;
	line-height: 1.5em;
	color: #f4f4f4;
	padding-top: 33px;
	-webkit-font-smoothing: antialiased;
}

#bottomhalf.insidepages {
	padding-top: 50px;
}