
body, .jumbotron {
    padding-bottom: 40px;
    /*background: url(../img/background.jpg) repeat-y center top;*/
}
.container-item {
	padding: 10px;
	overflow: scroll;
	height: 100%;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	/* removed to make the container items white */
	/*background-color: #eeeeee;*/
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.row{
	margin-bottom: 30px;
}

.row-item {
	overflow: scroll;
}

.welcome-item {
	height: 200px;
	overflow: scroll;
}

.map-item {
	height: 400px;
	overflow: scroll;
}

.dashboard-item {
	height: 300px;
	overflow: scroll;
}

.options-item {
	height: 250px;
	overflow: scroll;
}

#map-canvas img {
  max-width: none;
  
}

::-webkit-scrollbar { 
    display: none; 
}

#composer-icons .btn{
	width: 150px;
	
}

#composer-icons img{
	width: 50px;
}

#inspector img {
	width: 100px;
}

#more-info {
	padding-left: 10px;
	
}

#wind-bearing{
	transition: all 1s ease-in-out;
	margin-left: 20px;
}

path{
	stroke: #000;
	stroke-width: 2;
	fill: none;
}



/*begin sahand's css*/
#topbar {
		height: 100px;
		width: 100%;
		position: relative;
		margin: 0 auto;
		background: url(../img/trees.jpg) center -710px;
}

#headertext {
		width: 600px;
		height: auto;
		text-align: center;
		margin: 0 auto;
		font: 40px MillerBanner;
		line-height: 1.5em;
		color: #f4f4f4;
		padding-top: 33px;
		-webkit-font-smoothing: antialiased;
}

.italics {
	font-style:italic;
}

.alert-success {
	background-color: rgba(255, 255, 254, 0);
}

.alert {
	border: none;
	font-family: MillerBanner;
	font-size: 25px;
	height: 23px;
	line-height: 25px;
	-webkit-font-smoothing: antialiased;
}
	
h4 {
	font-family: MillerBanner;
	font-size: 21px;
	height: 21px;
	line-height: 28px;
	letter-spacing: -2;
	font-weight: 100;
	margin-bottom: 9px;
}

h3 {
	font-family: MillerBanner;
	font-size: 28px;
	font-weight: 100;
	height: 28px;
	line-height: 28px;
	margin-bottom: 28px;
}

p {
	font: 13px "Gotham HTF";
	font-weight: 100;
	height: auto;
	line-height: 21px;
}
