
body, .jumbotron {
    padding-bottom: 5px;
    /*background: url(../img/background.jpg) repeat-y center top;*/
}
.container-item {
	padding: 10px;
	overflow: scroll;
	height: 100%;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	/* removed to make the container items white */
	/*background-color: #eeeeee;*/
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.row{
	margin-bottom: 15px;
}

.row-item {
	overflow: scroll;
}

.welcome-item {
	height: 200px;
	overflow: scroll;
}

.map-item {
	height: 350px;
	overflow: scroll;
}

.dashboard-item {
	height: 270px;
	overflow: scroll;
}

.options-item {
	height: 250px;
	overflow: scroll;
}

#map-canvas img {
  max-width: none;
  
}

::-webkit-scrollbar { 
    display: none; 
}

#composer-icons .btn{
	width: 155px;
	padding: 0px;
	text-align:left;
	text-indent:2px;
}

#composer-icons img{
	width: 20px;
	display: inline;
	margin: 2px;
}

#inspector img {
	width: 30px;
}

#more-info {
	padding-left: 10px;
	
}

#wind-bearing{
	transition: all 1s ease-in-out;
	margin-left: 20px;
}

path{
	stroke: #000;
	stroke-width: 2;
	fill: none;
}



/*begin sahand's css*/
#topbar {
		height: 40px;
		width: 100%;
		position: relative;
		margin: 0 auto;
		background: url(../img/trees.jpg) center -710px;
}

#headertext {
		width: 600px;
		height: auto;
		text-align: center;
		margin: 0 auto;
		font: 20px MillerBanner;
		line-height: 1.5em;
		color: #f4f4f4;
		padding-top: 10px;
		-webkit-font-smoothing: antialiased;
}

.italics {
	font-style:italic;
}

.alert-success {
	background-color: rgba(255, 255, 254, 0);
}

.alert {
	border: none;
	font-family: MillerBanner;
	font-size: 28px;
	height: 23px;
	line-height: 25px;
	-webkit-font-smoothing: antialiased;
}
	
h4, .control-label {
	font-family: 'Helvetica Neue', Helvetica;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 20px;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 10px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-family: 'Helvetica Neue', Helvetica;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 20px;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 10px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}

p {
	font: 13px "Gotham HTF";
	font-weight: 100;
	height: auto;
	line-height: 21px;
}

btn_plantlist{

}